<div>
<h2>Category Name </h2>
<%=@category.name%>
</div>
<div>
  <%@category.topics.each do |topic|%>
<h2>Topic Name </h2><%= topic.name%><br>
<h2>Topic description </h2><%= topic.description%><br>

  <%end%>
</div><br>
<h2>Posts </h2>
<div>
<div  class="container" style="margin-left:20px" >
<% @post = Post.new %>
  <%= form_for @post , :url => posts_path(destid: @category.id,desttype:2)  do |ff| %>
  <div class="field">
    <%= ff.label :Post %><br />
    

    <%= ff.text_field :content, :style=>"height:100px; width:300px" %>
  </div>
  <br>
  <div>
        <%= ff.submit 'Post', :class=>"btn btn-success" %>
      </div>
  <%end%>
  <br>
 
 
 <%@posts.any?%><br><br>
 <div  class="row" style="margin-left:150px">
<% @posts.each do |post| %>
<div class="col-md-4">
<ul  class="list-group-item list-group-item-success" >
 <div>
  <li> <%= post.content %><br>
   </li>
  </div>
  </ul>
  <br>
  
<h4>Comments</h4><br>
<%post.comments.each do |comment|%>
 <ul class="list-group-item list-group-item-warning" >
 <li> <%=comment.content%> </li>
  </ul>

  <%end%>

  <% @comment = Comment.new %>
      <%= form_for @comment , :url => comments_path(post_id: post.id)  do |f| %>
      <div class="field">
      <%= f.hidden_field :post_id, :value => post.id %>
        <%= f.label :comment %><br />
        <%= f.text_field :content %>
      </div>
      <br>
      <div>
        <%= f.submit 'Comment', :class=>"btn btn-success" %>
      </div>
<br>
  <%end%>
 
</div> 
<% end %>
</div>
 </div>

 
<br />
</div>