<div id = "page_wrapper">
	<h1>Edit Profile</h1>
	<%= form_for :user do |f| %>
	<%if @user.errors.any?%>
	<div id="errors">
		<h2><%= pluralize(@user.errors.count,"error")%> prevented editting:</h2>
		<ul>
			<%@user.errors.full_messages.each do |msg|%>
			<li>
				<%= msg%>
			</li>
			<%end%>
		</ul>
	</div>
	<%end%>
	<p>
		<%= f.label :email%>
		<br>
		<%= f.email_field :email, :value => self.current_user.email%>
	</p>

	<p>
		<%= f.label :first_name%>
		<br>
		<%= f.text_field :fname, :value => self.current_user.fname%>
	</p>

	<p>
		<%= f.label :last_name %>
		<br>
		<%= f.text_field :lname, :value => self.current_user.lname%>
	</p>
	<p>
		<%= f.label :guc_id%>
		<br>
		<%= f.text_field :gucid, :value => self.current_user.gucid%>
	</p>
     <p>
		<%= f.label :gender%>
		<br>
		<%= f.text_field :gender, :value => self.current_user.gender%>
	</p>

	<p>
		<%= f.label :date_of_birth%>
		<br>
		<%= f.date_select :dob, :order => [:day, :month, :year] , :start_year => (Date.today.year - 100), :value => self.current_user.dob%>
	</p>
	<p>
		<%= f.label :location%>
		<br>
		<%= f.text_field :location, :value => self.current_user.location%>
	</p>

	<p>
		Change Profile Picture
		<br>
		<br>
		<%= f.file_field :image, :value => self.current_user.avatar%>
	</p>
	
	<p>
		
	</p>

	<p>

		<%= f.submit %>
	</p>
	<% end %>
</div>
