
<%if @can==1%>
<% @post = Post.new %>
  <%= form_for @post , :url => posts_path(destid: @user.id,desttype:0)  do |ff| %>
  <div class="field">
    <%= ff.label :content %><br />
    <%= ff.text_field :content %>
  </div>
  <div class="actions">
    <%= ff.submit %>
  </div>

<%end%>
<br>
<%end%>
<table>
  <tr>
    <th>Content</th>
    <th>Created at</th>
    
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= post.created_at %></td>
  </tr>
  <tr><%post.comments.each do |comment|%>
  <td><%=comment.content%></td>
  </tr>
  <%end%>
  <%if @can==1%>
    <% @comment = Comment.new %>
      <%= form_for @comment , :url => comments_path(post_id: post.id)  do |f| %>
      <div class="field">
      <%= f.hidden_field :post_id, :value => @post.id %>
        <%= f.label :comment %><br />
        <%= f.text_field :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>

  <%end%>
<%end%>
<% end %>
</table>
 
<br />

 
<%= link_to 'New post', new_post_path %>
<div id="page_wrapper">
	<b>Name: </b><%= @user.fname%> <%= @user.lname%>
	<br>
	<br>
	<b>Email: </b><%= @user.email%>
	<br>
	<br>
	<b>Date of birth: </b><%= @user.dob%>
	<br>
	<br>
	<b>Location: </b><%= @user.location%>
	<br>
	<br>
	<b>GUC ID: </b><%= @user.gucid%>
	<br>
	<br>
	<b>Gender: </b><%if @user.gender == true%> Female <%else%> Male <%end%>
    <br>
    <br>
	<li>
	<%if @user.avatar_url != nil%>
	  <%= link_to(@user.avatar_url.to_s) do %>
	    <%= image_tag @user.avatar_url.to_s,size:"100x100" %>
	  <% end %>
	<%else%>
<<<<<<< HEAD
	<%= image_tag "/app/assets/images/user.jpg"%>
	<%end%>
<<<<<<< HEAD
=======
=======
	  <%= image_tag "user.png", size: "100x100"%>
	<%end%></li>
>>>>>>> origin/weambranch
>>>>>>> a022d873bc6543276cfa4b77a58a2928d137a38d
