
<div id="page_wrapper">
	<b>Name: </b><%= @user.fname%> <%= @user.lname%>
	<br>
	<br>
	<b>Email: </b><%= @user.email%>
	<br>
	<br>
	<b>Date of birth: </b><%= @user.dob%>
	<br>
	<br>
	<b>Location: </b><%= @user.location%>
	<br>
	<br>
	<b>GUC ID: </b><%= @user.gucid%>
	<br>
	<br>
	<b>Gender: </b><%if @user.gender == 1%> female <%else%> male <%end%>
    <br>
    <br>
	<li>
	<%if @user.avatar_url != nil%>
	  <%= link_to(@user.avatar_url.to_s) do %>
	    <%= image_tag @user.avatar_url.to_s,size:"100x100" %>
	  <% end %>
	<%else%>
	  <%= image_tag "user.png", size: "100x100"%>
	<%end%></li>